# 系统文件
.DS_Store
Thumbs.db

# 日志
*.log
npm-debug.log*

# 依赖
node_modules/

# Hexo 构建输出
public/
.deploy*/
_multiconfig.yml

# 数据库
db.json

# 编辑器临时文件
*.swp
*.tmp

# 个人学习文档（不上传）
Git学习指南.md
Hexo博客知识手册.md
博客搭建计划.md

# 临时文件
deploy.cmd
test-wordcount.js
*.txt
